name: Tests Coverage

on:
  push:
    branches:
      - feature/*

jobs:
  calculate-code-coverage:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Calculate Unit Tests Coverage
      uses: devcontainers/ci@v0.3
      with:
        runCmd: |
          dotnet-coverage collect -f cobertura --session-id calculate-project-coverage-session --include-files "./**/bin/Debug/net9.0/*.dll" "dotnet test --no-build"
        push: never

    - name: Upload combined coverage artifact
      uses: actions/upload-artifact@v4
      with:
        name: full-coverage
        path: output.cobertura.xml

  update-coverage:
    name: Update Coverage
    runs-on: ubuntu-24.04
    needs: [calculate-code-coverage]
    permissions:
      contents: write
    steps:
    - name: Checkout repository 
      uses: actions/checkout@v4
    
    - name: Install xq
      run: |
        sudo apt install xq
    
    - name: Download combined coverage
      uses: actions/download-artifact@v5
      with:
        name: full-coverage

    - name: Find calculated test coverage
      run: |
        echo "CALCULATED_COVERAGE=$(cat output.cobertura.xml | xq -x /coverage/@line-rate)" >> "$GITHUB_ENV"
