# main part of the workflow was taken from https://github.com/gman-au/not-again/blob/master/.github/workflows/siren-gen.yml
name: Tests Coverage

on:
  push:
    branches:
      - feature/*

jobs:
  code-coverage-generation:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Calculate Unit Tests Coverage
      uses: devcontainers/ci@v0.3
      with:
        runCmd: |
          dotnet-coverage collect -f cobertura --session-id calculate-project-coverage-session --include-files "./**/bin/Debug/net9.0/*.dll" "dotnet test --no-build"

    - name: Print Coverage
      run: |
        echo "$(cat output.cobertura.xml | xq -x /coverage/@line-rate)"
