name: Tests Coverage

on:
  push:
    branches:
      - feature/*

jobs:
  calculate-coverage:
    name: Calculate Coverage
    runs-on: ubuntu-24.04
    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Calculate Unit Tests Coverage
      uses: devcontainers/ci@v0.3
      with:
        imageName: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          dotnet build

          dotnet-coverage collect \
            -f cobertura \
            -o units-coverage.xml \
            --session-id calculate-units-coverage-session \
            --include-files "./**/bin/Debug/net9.0/*.dll" \
            dotnet test --no-build
        push: always

    - name: Calculate E2E Tests Coverage
      uses: devcontainers/ci@v0.3
      with:
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          dotnet-coverage collect \
            -f cobertura \
            -o e2e-coverage.xml \
            --session-id calculate-e2e-coverage-session \
            --include-files "./**/bin/Debug/net9.0/*.dll" \
            dotnet run --project ./Api --no-build \
            > /dev/null 2>&1 &
        push: never

    - name: Run E2E Tests And Save Coverage
      uses: devcontainers/ci@v0.3
      with:
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          java -jar /karate.jar .

          dotnet-coverage shutdown calculate-e2e-coverage-session
        push: never

    - name: Merge Units And E2E Into Full Coverage
      uses: devcontainers/ci@v0.3
      with:
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          dotnet-coverage merge \
          -f cobertura \
          -o full-coverage.xml \
          e2e-coverage.xml units-coverage.xml
        push: never

    # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands#adding-a-job-summary
    - name: Generate Full Tests Coverage Summary as Markdown
      uses: devcontainers/ci@v0.3
      with:
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          reportgenerator -reports:"./full-coverage.xml" -targetdir:"." -reporttypes:MarkdownSummary
        push: never

    # https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands#adding-a-job-summary
    - name: Add Full Tests Coverage Summary to Job
      run: |
        cat Summary.md >> "$GITHUB_STEP_SUMMARY"

    - name: Upload Unit Tests Coverage
      uses: actions/upload-artifact@v4
      with:
        name: units-coverage
        path: units-coverage.xml

    - name: Upload E2E Tests Coverage
      uses: actions/upload-artifact@v4
      with:
        name: e2e-coverage
        path: e2e-coverage.xml

    - name: Upload Full Tests Coverage
      uses: actions/upload-artifact@v4
      with:
        name: full-coverage
        path: full-coverage.xml

  update-coverage:
    runs-on: ubuntu-24.04
    needs: [calculate-coverage]
    permissions:
      contents: write
    steps:
    - name: Checkout repository 
      uses: actions/checkout@v4

    - name: Download xq
      run: |
        sudo apt install xq
    
    - name: Download Units Coverage
      uses: actions/download-artifact@v5
      with:
        name: units-coverage
        path: coverage
    
    - name: Download E2E Coverage
      uses: actions/download-artifact@v5
      with:
        name: e2e-coverage
        path: coverage
    
    - name: Download Full Coverage
      uses: actions/download-artifact@v5
      with:
        name: full-coverage
        path: coverage
      
      # Find existing score and color by line matching in README and get calculated coverage from json file
    - name: Find existing and calculated test coverage scores and existing color
      run: |
        units_line_coverage_float=$(cat coverage/units-coverage.xml | xq -x /coverage/@line-rate)

        units_line_coverage_percent=$(awk -v num="$units_line_coverage_float" 'BEGIN { print num * 100 }')
        
        # round to 2 decimal digits
        echo "UNITS_CALCULATED_COVERAGE=$(printf "%.2f\n" "$units_line_coverage_percent")" >> "$GITHUB_ENV"

        e2e_line_coverage_float=$(cat coverage/e2e-coverage.xml | xq -x /coverage/@line-rate)

        e2e_line_coverage_percent=$(awk -v num="$e2e_line_coverage_float" 'BEGIN { print num * 100 }')
        
        # round to 2 decimal digits
        echo "E2E_CALCULATED_COVERAGE=$(printf "%.2f\n" "$e2e_line_coverage_percent")" >> "$GITHUB_ENV" 

        full_line_coverage_float=$(cat coverage/full-coverage.xml | xq -x /coverage/@line-rate)

        full_line_coverage_percent=$(awk -v num="$full_line_coverage_float" 'BEGIN { print num * 100 }')
        
        # round to 2 decimal digits
        echo "FULL_CALCULATED_COVERAGE=$(printf "%.2f\n" "$full_line_coverage_percent")" >> "$GITHUB_ENV"    

    - name: Check found coverage scores and color
      run: |
        echo $UNITS_CALCULATED_COVERAGE
        echo $E2E_CALCULATED_COVERAGE
        echo $FULL_CALCULATED_COVERAGE

    # 0-60: red; 60-70: orange; 70-80: yellow; 80-90: yellowish green; 90-100: green
    # set new color and then add its variable to workflow's environment
    - name: Define new badge color 
      run: |
        python3 - <<'PY'
        import os

        def get_bage_color_by_coverage_value(
          new_coverage: str,
        ) -> str:
          if new_coverage < 60:
            new_badge_color = "crimson"
          elif 60 <= new_coverage < 70:
            new_badge_color = "orange"
          elif 70 <= new_coverage < 80:
            new_badge_color = "yellow"
          elif 80 <= new_coverage < 90:
            new_badge_color = "olivedrab"
          elif new_coverage >= 90:
            new_badge_color = "forestgreen"
          return new_badge_color
        
        def set_by_coverage_badge_color(
            env_value_name_with_coverage: str,
            env_value_name_with_bage_color: str,
        ) -> None:
          new_coverage = float(os.getenv(env_value_name_with_coverage))
          badge_color = get_bage_color_by_coverage_value(new_coverage)
          env_file = os.getenv("GITHUB_ENV")

          with open(env_file, "a") as f:
              f.write(f"{env_value_name_with_bage_color}={badge_color}")
        
        set_by_coverage_badge_color(
          env_value_name_with_coverage="UNITS_CALCULATED_COVERAGE", 
          env_value_name_with_bage_color="UNITS_NEW_BADGE_COLOR"
        )
        set_by_coverage_badge_color(
          env_value_name_with_coverage="E2E_CALCULATED_COVERAGE", 
          env_value_name_with_bage_color="E2E_NEW_BADGE_COLOR"
        )
        set_by_coverage_badge_color(
          env_value_name_with_coverage="FULL_CALCULATED_COVERAGE", 
          env_value_name_with_bage_color="FULL_NEW_BADGE_COLOR"
        )
        PY

      # Find existing badge url in README assuming that it looks like we expect (must be perfect match)
      # Replace it with calculated url, where score and color are new
    - name: Replace badge URL in README
      run: |
        python3 - <<'PY'
        import io, sys, os, fileinput

        def replace_coverage_badge_in_readme(
          coverage_prefix: str,
          coverage: str,
          coverage_color: str,
        ) -> None:
          target_prefix = f"[![coverage](https://img.shields.io/badge/{coverage_prefix}"
          replacement = f"[![coverage](https://img.shields.io/badge/{coverage_prefix}-{coverage}%25-{coverage_color})](https://github.com/TourmalineCore/inner-circle-items-api/actions/workflows/calculate-tests-coverage-on-pull-request.yml)\n"
          
          with fileinput.FileInput("README.md", inplace=True) as file:
            for line in file:
              if line.startswith(target_prefix):
                sys.stdout.write(replacement)
              else:
                sys.stdout.write(line)

        replace_coverage_badge_in_readme(
          coverage_prefix="units_coverage", 
          coverage=os.getenv("UNITS_CALCULATED_COVERAGE"),
          coverage_color=os.getenv("UNITS_NEW_BADGE_COLOR")
        )
        replace_coverage_badge_in_readme(
          coverage_prefix="e2e_coverage", 
          coverage=os.getenv("E2E_CALCULATED_COVERAGE"),
          coverage_color=os.getenv("E2E_NEW_BADGE_COLOR")
        )
        replace_coverage_badge_in_readme(
          coverage_prefix="full_coverage", 
          coverage=os.getenv("FULL_CALCULATED_COVERAGE"),
          coverage_color=os.getenv("FULL_NEW_BADGE_COLOR")
        )
        PY

    - name: Commit README changes
      run: |
        git config user.email "contact@tourmalinecore.com"
        git config user.name "Workflow Action"

        git commit README.md -m "docs(readme): bring test coverage score up to date" || echo "No changes to commit"
        
        git push origin || echo "No changes to commit"
