name: Tests Coverage

on:
  push:
    branches:
      - feature/*

jobs:
  calculate-coverage:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Calculate Unit Tests Coverage
      uses: devcontainers/ci@v0.3
      with:
        imageName: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          dotnet build

          dotnet-coverage collect \
            -f cobertura \
            -o units-coverage.xml \
            --session-id calculate-units-coverage-session \
            --include-files "./**/bin/Debug/net9.0/*.dll" \
            dotnet test --no-build
        push: always

    - name: Calculate E2E Tests Coverage
      uses: devcontainers/ci@v0.3
      with:
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          dotnet-coverage collect \
            -f cobertura \
            -o e2e-coverage.xml \
            --session-id calculate-e2e-coverage-session \
            --include-files "./**/bin/Debug/net9.0/*.dll" \
            dotnet run --project ./Api --no-build \
            > /dev/null 2>&1 &
        push: never

    - name: Run E2E Tests And Save Coverage
      uses: devcontainers/ci@v0.3
      with:
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          java -jar /karate.jar .

          dotnet-coverage shutdown calculate-e2e-coverage-session
        push: never

    - name: Merge Units And E2E Into Full Coverage
      uses: devcontainers/ci@v0.3
      with:
        cacheFrom: ghcr.io/tourmalinecore/inner-circle-items-api-devcontainer
        runCmd: |
          dotnet-coverage merge \
          -f cobertura \
          -o full-coverage.xml \
          e2e-coverage.xml units-coverage.xml
        push: never

    - name: Upload Unit Tests Coverage
      uses: actions/upload-artifact@v4
      with:
        name: units-coverage
        path: units-coverage.xml

    - name: Upload E2E Tests Coverage
      uses: actions/upload-artifact@v4
      with:
        name: e2e-coverage
        path: e2e-coverage.xml

    - name: Upload Full Tests Coverage
      uses: actions/upload-artifact@v4
      with:
        name: full-coverage
        path: full-coverage.xml

  update-coverage:
    runs-on: ubuntu-24.04
    needs: [calculate-coverage]
    permissions:
      contents: write
    steps:
    - name: Checkout repository 
      uses: actions/checkout@v4

    - name: Download xq
      run: |
        sudo apt install xq
    
    - name: Download Units Coverage
      uses: actions/download-artifact@v5
      with:
        name: units-coverage
        path: coverage
    
    - name: Download E2E Coverage
      uses: actions/download-artifact@v5
      with:
        name: e2e-coverage
        path: coverage
      
      # Find existing score and color by line matching in README and get calculated coverage from json file
    - name: Find existing and calculated test coverage scores and existing color
      run: |
        echo "UNITS_EXISTING_COVERAGE=$(grep -oP '(?<=units-coverage-)\d+' README.md | head -n1)" >> "$GITHUB_ENV"
        echo "UNITS_EXISTING_BADGE_COLOR=$(grep -oP '(?<=%25-)[^?]+' README.md | head -n1)" >> "$GITHUB_ENV"

        units_line_coverage_float=$(cat coverage/units-coverage.xml | xq -x /coverage/@line-rate)

        units_line_coverage_percent=$(awk -v num="$units_line_coverage_float" 'BEGIN { print num * 100 }')
        
        # round to 2 decimal digits
        echo "UNITS_CALCULATED_COVERAGE=$(printf "%.2f\n" "$units_line_coverage_percent")" >> "$GITHUB_ENV"

        e2e_line_coverage_float=$(cat coverage/e2e-coverage.xml | xq -x /coverage/@line-rate)

        e2e_line_coverage_percent=$(awk -v num="$e2e_line_coverage_float" 'BEGIN { print num * 100 }')
        
        # round to 2 decimal digits
        echo "E2E_CALCULATED_COVERAGE=$(printf "%.2f\n" "$e2e_line_coverage_percent")" >> "$GITHUB_ENV"    

    - name: Check found coverage scores and color
      run: |
        echo $UNITS_EXISTING_COVERAGE
        echo $UNITS_CALCULATED_COVERAGE
        echo $UNITS_EXISTING_BADGE_COLOR
        echo $E2E_CALCULATED_COVERAGE

    # 0-60: red; 60-70: orange; 70-80: yellow; 80-90: yellowish green; 90-100: green
    # set new color and then add its variable to workflow's environment
    - name: Define new badge color 
      if: ${{ env.UNITS_EXISTING_COVERAGE != env.UNITS_CALCULATED_COVERAGE }} 
      run: |
        python3 - <<'PY'
        import os

        def get_bage_color_by_coverage_value(
          new_coverage: str,
        ) -> string:
          if new_coverage < 60:
            new_badge_color = "crimson"
          elif 60 <= new_coverage < 70:
            new_badge_color = "orange"
          elif 70 <= new_coverage < 80:
            new_badge_color = "yellow"
          elif 80 <= new_coverage < 90:
            new_badge_color = "olivedrab"
          elif new_coverage >= 90:
            new_badge_color = "forestgreen"
          return new_badge_color
        
        def set_by_coverage_badge_color(
            env_value_name_with_coverage: str,
            env_value_name_with_bage_color: str,
        ) -> None:
          new_coverage = float(os.getenv(env_value_name_with_coverage))
          badge_color = get_bage_color_by_coverage_value(new_coverage)
          env_file = os.getenv("GITHUB_ENV")

          with open(env_file, "a") as f:
              f.write(f"{env_value_name_with_bage_color}={badge_color}")
        
        set_by_coverage_badge_color(
          env_value_name_with_coverage="UNITS_CALCULATED_COVERAGE", 
          env_value_name_with_bage_color="UNITS_NEW_BADGE_COLOR"
        )
        PY

      # Find existing badge url in README assuming that it looks like we expect (must be perfect match)
      # Replace it with calculated url, where score and color are new
    - name: Replace badge URL in README
      if: ${{ env.UNITS_EXISTING_COVERAGE != env.UNITS_CALCULATED_COVERAGE }} 
      run: |

        export UNITS_EXISTING_COVERAGE_BADGE_URL="https://img.shields.io/badge/units-coverage-$UNITS_EXISTING_COVERAGE%25-$UNITS_EXISTING_BADGE_COLOR?logo=codecov&logoColor=ff9d1c"
        export UNITS_CALCULATED_COVERAGE_BADGE_URL="https://img.shields.io/badge/units-coverage-$UNITS_CALCULATED_COVERAGE%25-$UNITS_NEW_BADGE_COLOR?logo=codecov&logoColor=ff9d1c"

        echo $UNITS_EXISTING_COVERAGE_BADGE_URL
        echo $UNITS_CALCULATED_COVERAGE_BADGE_URL

        python3 - <<'PY'
        import io, sys, os

        old_badge_url = os.getenv("UNITS_EXISTING_COVERAGE_BADGE_URL")
        new_badge_url = os.getenv("UNITS_CALCULATED_COVERAGE_BADGE_URL")
        path = "README.md"

        if not old_badge_url or not new_badge_url:
          sys.exit("Either existing or calculated badge URL doesn't exist")
        
        with io.open(path, "r", encoding="utf-8") as f:
          content = f.read()

        if old_badge_url in content:
            content = content.replace(old_badge_url, new_badge_url)
            with io.open(path, "w", encoding="utf-8") as f:
                f.write(content)
            print("Replaced coverage badge URL in README.md")
        else:
            print("Old URL not found in README.md, no replacement made")
        PY

    - name: Commit README changes
      run: |
        git config user.email "contact@tourmalinecore.com"
        git config user.name "Workflow Action"

        git commit README.md -m "docs(readme): bring test coverage score up to date" || echo "No changes to commit"
        
        git push origin || echo "No changes to commit"
