name: Deploy to Prod

on:
  push:
    branches:
      - feature/deploy_to_production
  # to allow to wait for a docker image to be published to proceed in another workflow
  workflow_call:

jobs:
  push_to_registry:
    uses: ./.github/workflows/docker-build-and-push.yml

  deploy-to-prod:
    needs: [push_to_registry]
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Create default global .kube/config file
        run: |
          cd $HOME
          mkdir .kube
          echo "${{ secrets.INNER_CIRCLE_PROD_KUBECONFIG }}" > .kube/config

      - name: Deploy
        uses: helmfile/helmfile-action@v1.9.0
        with:
          helmfile-version: 'v0.164.0'
          helm-version: 'v3.18.0'
          helmfile-args: >
            apply --suppress-diff --namespace ${{ secrets.INNER_CIRCLE_PROD_NAMESPACE }} -f ci/helmfile.yaml
            --state-values-set image.tag=sha-${{ github.sha }} 
            --state-values-set ingress.hostname=${{ secrets.INNER_CIRCLE_PROD_HOSTNAME }}
            --state-values-set extraSecretEnvVars.ConnectionStrings__DefaultConnection=${{ secrets.INNER_CIRCLE_PROD_ITEMS_DB_CONNECTION_STRING }}
            --state-values-set extraSecretEnvVars.AuthenticationOptions__PublicSigningKey=${{ secrets.INNER_CIRCLE_PROD_PUBLIC_SIGNING_KEY }}
            --state-values-set extraSecretEnvVars.ExternalDepsUrls__EmployeesApiRootUrl=${{ secrets.INNER_CIRCLE_PROD_EMPLOYEES_API_ROOT_URL }}
          helmfile-auto-init: "false"
