name: Deploy to Prod

on:
  push:
    branches:
      - master
      - feature/**

jobs:
  docker-build-and-push:
    uses: ./.github/workflows/.reusable-docker-build-and-push.yml

  deploy-to-prod:
    needs: [docker-build-and-push]
    runs-on: self-hosted
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Create default global .kube/config file
        run: |
          cd $HOME
          mkdir .kube
          echo "${{ secrets.INNER_CIRCLE_PROD_KUBECONFIG }}" > .kube/config

      - name: Deploy
        uses: helmfile/helmfile-action@v1.9.0
        with:
          helmfile-version: 'v0.164.0'
          helm-version: 'v3.18.0'
          helmfile-args: >
            apply --suppress-diff --namespace ${{ secrets.INNER_CIRCLE_PROD_NAMESPACE }} -f ci/helmfile.yaml
            --state-values-set image.tag=sha-${{ github.sha }} 
            --state-values-set ingress.hostname=${{ secrets.INNER_CIRCLE_PROD_HOSTNAME }}
            --state-values-set extraSecretEnvVars.ConnectionStrings__DefaultConnection=${{ secrets.INNER_CIRCLE_PROD_ITEMS_DB_CONNECTION_STRING }}
            --state-values-set extraSecretEnvVars.AuthenticationOptions__PublicSigningKey=${{ secrets.INNER_CIRCLE_PROD_PUBLIC_SIGNING_KEY }}
            --state-values-set extraSecretEnvVars.ExternalDepsUrls__EmployeesApiRootUrl=${{ secrets.INNER_CIRCLE_PROD_EMPLOYEES_API_ROOT_URL }}
            --state-values-set extraSecretEnvVars.TestSecret=$TESTSECRET
          helmfile-auto-init: "false"

  run-e2e-tests:
    uses: ./.github/workflows/.reusable-e2e-tests-against-prod.yml
    needs: [deploy-to-prod]
    secrets: inherit
