name: E2E Tests Against Prod

on:
  workflow_call:

jobs:
  e2e-test-against-prod:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
      
    - name: Download Karate JAR
      run: |
        curl -L https://github.com/karatelabs/karate/releases/download/v1.5.1/karate-1.5.1.jar -o karate.jar

    - name: Run E2E Tests Against Local Env
      run: |
        java -jar karate.jar .
      env:
        "AUTH_FIRST_TENANT_LOGIN_WITH_ALL_PERMISSIONS": ${{ secrets.INNER_CIRCLE_PROD_AUTH_FIRST_TENANT_LOGIN_WITH_ALL_PERMISSIONS }}
        "AUTH_FIRST_TENANT_PASSWORD_WITH_ALL_PERMISSIONS": ${{ secrets.INNER_CIRCLE_PROD_AUTH_FIRST_TENANT_PASSWORD_WITH_ALL_PERMISSIONS }}
        "AUTH_SECOND_TENANT_LOGIN_WITH_ALL_PERMISSIONS": ${{ secrets.INNER_CIRCLE_PROD_AUTH_SECOND_TENANT_LOGIN_WITH_ALL_PERMISSIONS }}
        "AUTH_SECOND_TENANT_PASSWORD_WITH_ALL_PERMISSIONS": ${{ secrets.INNER_CIRCLE_PROD_AUTH_SECOND_TENANT_PASSWORD_WITH_ALL_PERMISSIONS }}
        "AUTH_LOGIN_WITHOUT_PERMISSIONS": ${{ secrets.INNER_CIRCLE_PROD_AUTH_LOGIN_WITHOUT_PERMISSIONS }}
        "AUTH_PASSWORD_WITHOUT_PERMISSIONS": ${{ secrets.INNER_CIRCLE_PROD_AUTH_PASSWORD_WITHOUT_PERMISSIONS }}
        "AUTH_API_ROOT_URL": ${{ secrets.INNER_CIRCLE_PROD_AUTH_API_ROOT_URL }}
        "API_ROOT_URL": ${{ secrets.INNER_CIRCLE_PROD_ITEMS_API_ROOT_URL }}
