name: E2E Tests

on:
  push:
    branches:
      - feature/*

jobs:
  e2e-karate-tests-in-docker-compose:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Run service via docker-compose and run Karate-tests
    # Find text with 'failed' and 'passed' in logs from karate-testing container
      run: |
        # The option --exit-code-from ensures that the command's exit code exactly matches the exit code of the specified service.
        # Learn more about '> /dev/null 2>&1': https://stackoverflow.com/a/42919998
        docker compose --profile MockForPullRequest up --exit-code-from inner-circle-items-api-karate-tests > /dev/null 2>&1
