name: E2E Tests

on:
  push:
    branches:
      - feature/*

jobs:
  e2e-karate-tests-in-docker-compose:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Run service via docker-compose and run Karate-tests
    # Find text with 'failed' and 'passed' in logs from karate-testing container
      run: |
        docker compose --profile MockForPullRequest up --abort-on-container-exit --exit-code-from inner-circle-items-api-karate-tests > /dev/null 2>&1
